* {
    margin-left: 20px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    color: rgb(6, 116, 226);
}

h2 {
    font-size: 28px;
    color: rgba(6, 116, 226, 0.76);
}

img {
    height: 500px;
    width: auto;
    border-radius: 50px;
}

p,
a,
li {
    font-size: 20px;
}